* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

nav {
    background-color: #FF6900;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-bar {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 20px 0;
    font-size: 15px;
}

.d-u-b {
    padding: 20px 0;
}

.logo {
    width: 100px;
}

.icons {
    color: white;
    font-size: 15px;
}

.fa-brands {
    padding: 3px;
}

/* main */

.container {
    width: 70%;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: calc(100% / 3 - 10px);
    margin-bottom: 40px;
}

.product {
    position: relative;
}

.product-desc {
    position: absolute;
    bottom: 40px;
}

.favourite {
    position: absolute;
    background-color: white;
    top: 5px;
    right: 0;
    padding: 5px 10px;
    font-size: 20px;
}

.favourite:hover {
    color: red;
}


.credit {
    padding: 5px;
    color: white;
    font-size: 10px;
}

.sale {
    background-color: red;
}

.eco {
    background-color: green;
}

.product img {
    width: 100%;
}

.img-2  {
    display: none;
}

.product-img:hover .img-2 {
    display: block;
}

.product-img:hover .img-1 {
    display: none;
}

.brand {
    display: block;
    font-size: 10px;
}

.p-type {
    display: block;
    font-weight: bold;
}

.s-price {
    font-size: 10px;
    color: red;
}

.o-price {
    font-size: 10px;
    text-decoration: line-through;
}

/* footer  */

footer {
    background-color: #0e0e0e;
}

.credits {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.info , .social {
    color: white;
    line-height: 25px;
}

.agency {
    display: block;
}

.social-cap {
    color: white;
    font-size: 10px;
}

.info-priv {
    font-size: 10px;
}











 
